<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <ul class="navbar-nav mr-auto mt-5 mt-lg-0">
    <li class="nav-item">
      <a routerLink="employee/create" class="nav-link" routerLinkActive="active">
        Register Employee
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        List Employees
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" (click)="logout()">
        Logout
      </a>
    </li>
  </ul>
</nav>


<div class="container">
  <alert></alert>
  <router-outlet></router-outlet>
</div>